@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
*{
  font-family: 'Oldenburg', serif;
  /* background-color: black; */
}
/* Slideshow container */
.slideshow-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Proposal container */
.proposal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(243, 240, 240, 0); /* Adjust opacity here */
  padding: 20px;
  max-width: 80%;
}

.proposal-content {
  text-align: center;
  font-weight: 700;
  line-height: 1.8;
  font-size: 20px;
  /* color: white; */
}

/* Fade animation for slideshow */
.fade {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  from {
      opacity: 0.8;
  }
  to {
      opacity: 1;
  }
}
